<nav class="navbar navbar-expand-lg py-2 navbar-dark shadow-sm" style="background-color: #4CAF50;">
    <div class="container d-flex justify-content-center">
        <a href="#" class="navbar-brand mx-auto">
          <!-- Logo Image -->
          <!-- <img src="{{ url_for('static', filename='img/logo.png') }}" width="45" alt="" class="d-inline-block align-middle mr-2"> -->
          <!-- Logo Text -->
          <span class="font-weight-bold">HỆ THỐNG ĐIỂM DANH SINH VIÊN BẰNG KHUÔN MẶT</span>
        </a>
    </div>
</nav>
